/* ANIMATION ------------------------- */

.header__title {
    transform: translate(0px, -120%);
    opacity: 0;
    transition: all 0.5s ease 0.5s;
    overflow: hidden;
}
.header__title._active {
    transform: translate(0px, 0px);
    opacity: 1;
    position: relative;
}
.header__title._active::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0%;
    width: 0px;
    height: 145px;
    box-shadow: 0px 0px 30px 5px #fff;
    transform: rotate(20deg);
    opacity: 0;
    animation: line 0.4s ease 2s forwards;
}

.header__text-one {
    transform: translate(-120%, 0px);
    opacity: 0;
    transition: all 0.3s ease 1.3s;
}
.header__text-one._active {
    transform: translate(0px, 0px);
    opacity: 1;
}
.header__text-two {
    transform: translate(120%, 0px);
    opacity: 0;
    transition: all 0.3s ease 1.3s;
}
.header__text-two._active {
    transform: translate(0px, 0px);
    opacity: 1;
}
.header__btn {
    transform: translate(0, 120%);
    opacity: 0;
    transition: all 0.3s ease 1.8s, color 0.7s, border-color 1.5s;
}
.header__btn._active {
    transform: translate(0px, 0px);
    opacity: 1;
}
.header__description {
    opacity: 0;
    transition: opacity 5s ease 1.7s;
}
.header__description._active {
    opacity: 1;
}

@keyframes line {
    0% {
        left: 0%;
        opacity: 0;
    }
    10% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    80% {
        opacity: 0.2;
    }
    80% {
        opacity: 0;
    }
    100% {
        left: 100%;
    }
}
